header{
  font-family: "Yu Gothic Medium";
}

small {
  font-size: 12px;
}

a {
  width: 313.58px;
  height: 53px;
  margin: 15px 0px 0px;
  display: block;
}

/*ギフトセットなど*/

ul{
  display: inline;
  display: flex;
  float: right;
}

li{
  font-size: 18px;
  padding: 11px 27px 16px 30px;
  list-style: none;
  position: relative;
  display: inline-block;
}

 .list::before{ /*listクラスの前に擬似要素を用いる*/
  content: ""; /*””の中の要素の前に擬似要素を用いる*/
  width: 8px; /*幅8px*/
  height: 8px; /*高さ8px*/
  margin-top: -5px; /*ネガティブマージン(親要素からはみ出す)。上に5pxずらす*/
  border-top: solid 1px #555;   /* ボーダーライン(上)を実線に指定。1px。灰色の暗さの中間の色合い */
  border-right: solid 1px #555;   /* ボーダーライン(右)を実線に指定。1px。灰色の暗さの中間の色合い */
  transform: rotate(135deg); /*要素を時計回りに135度回転する*/
  position: absolute; /*絶対位置で配置(相対じゃない、起点からの距離)*/
  top: 25px; /*要素の上からの配置は50%*/
  left: 10px;    /*要素の左から10pxの位置*/
}

.menu{
  display: inline;
}

.menu-icon::before{    /**/
  content: ""; /*””の中の要素の前に擬似要素を用いる*/
  width: 8px; /*幅8px*/
  height: 8px; /*高さ8px*/
  margin-top: -5px; /*ネガティブマージン(親要素からはみ出す)。上に5pxずらす*/
  border-top: solid 1px #555;    /* ボーダーライン(上)を実線に指定。1px。灰色の暗さの中間の色合い */
  border-right: solid 1px #555;   /*ボーダーライン(右)*/
  transform: rotate(45deg); /*要素を時計回りに45度回転する*/
  position: absolute;/*絶対位置で配置(相対じゃない、起点からの距離)*/
  top: 50%;/*要素の上からの配置は50%*/
  left: 10px;/*要素の左から10pxの位置*/
}

/*ギフトセットhover時*/

li:hover{
  color: aliceblue;
  background-color: blue;
}