.small{
  font-size: 80%;
}

h1{
  font-size: 60px;
  padding: 0px 0px;
}

h2{
  font-size: 25px;
}


.logo{
  background-color: rgba(red, green, blue, alpha);
  padding: 5px 10px;
  width: 100%;
  display: block;
}